<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Productos en Tiempo Real</title>
</head>

<body>

  <div>
    <h2>Agregar o Eliminar Productos</h2>

    <form id="productForm">
      <label for="productName">Nombre del Producto:</label>
      <input type="text" id="productName" title="productName" required>

      <label for="productAction"></label>
      <select id="productAction" title="productAction" required>
        <option value="add">Agregar</option>
        <option value="delete">Eliminar</option>
      </select>

      <input type="submit" value="IR">
    </form>

    <div id="productList">
      <p>Productos disponibles</p>
    </div>

  </div>


  <script src="/socket.io/socket.io.js"></script>
  <script src="js/realTimeProducts.js"></script>
</body>

</html>